version: "3.9"
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports: 
      - '5432:5432'
    volumes:
      - todoapp-db:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    ports:
    - '6379:6379'
  todoapp:
    build:
      context: .
    environment:
      DB_SCHEMA: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: postgres
      REDIS_URL: redis://cache
    depends_on:
      - postgres
    ports:
      - '3000:3000'
    links:
      - redis

        
volumes:
  todoapp-db: